/* 1200px */

@media (max-width: 75em) {
  .section {
    padding: 2rem 4rem;
  }

  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/* 1080px */

@media (max-width: 67.5em) {
  img.logo {
    width: 80%;
    margin: 0 auto;
  }
}

/* 900px */
@media (max-width: 56.25em) {
  section.banner {
    background-position: center -200px;
  }

  .banner_text h2 {
    font-size: 3.2rem;
  }

  .section {
    margin-top: 0;
  }
}
